* {
  padding: 0;
  margin: 2px;
}

body {
  background-color: #548687;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  z-index: 0;
  position: relative;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.6) 5px 5px;
  font-size: 9vmin;
  color: red;
}

.box:focus{
  outline: none !important;
}

.game-btn1,
.game-btn2 {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.6rem;
  border: none;
  margin: 1rem;
}

.game-btn1,
.game-btn2:focus {
  outline: none !important;
}

.div-o,
.div-x {
  background-color: #fff;
  margin-top: -2px;
  height: 32vmin;
  width: 32vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.9) 5px 5px 10px;
}

.winner-msg-x,
.winner-msg-o {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}

.hide {
  display: none;
}

.transparent {
  opacity: 0.6;
}
